<navbar></navbar>

<div style="font-family: 'Long Cang', cursive; text-align: center; padding-top: 1em; font-size: 2em; font-weight: bold; text-shadow: 2px 2px #00BEF0">
    <h1 id="form-title">{{ $ctrl.button }}</h1>
    <form name="authForm" novalidate ng-submit="$ctrl.submitForm();">
        <!-- always require username -->
        <input 
            required="required"
            type="text" 
            name="username" 
            placeholder="Enter your username"
            ng-model="$ctrl.user.username" 
        />

        <!-- require email if registering -->
        <input 
            ng-if="$ctrl.isRegister" 
            required="required"
            type="email" 
            name="email" 
            placeholder="Enter your email"
            ng-model="$ctrl.user.email" 
        />

        <!-- always require password -->
        <input 
            required="required"
            type="password" 
            name="password" 
            placeholder="Enter your password"
            ng-model="$ctrl.user.password" 
        />

        <!-- don't let people submit form unless the info is valid -->
        <div style="margin-top: 1em;">
            <button ng-disabled="authForm.$invalid">
                Log In
            </button>
        </div>
        <div ng-if="$ctrl.message" class="error-messages">
            {{ $ctrl.message }}
        </div>
    </form>
</div>