<navbar></navbar>
<div style="font-family: 'Long Cang', cursive; text-align: center; padding-top: 1em; font-size: 2em; font-weight: bold; text-shadow: 2px 2px #00BEF0">
    3/15
    <br>
    <puzzle2fruit ng-repeat="fruit in $ctrl.fruits | orderBy:'-0':true" fruit="fruit" on-update="$ctrl.updateOrder($event);"></puzzle2fruit>
    <br>
    <div style="display: flex; justify-content: center;">
        <button id="submit2" ng-click="$ctrl.checkAnswer()" type="button" class="btn" style="border-color: #00BEF0;">Submit</button>
    </div>
</div>