<div id="vis" >
    <navbar></navbar>
    <div style="font-family: 'Long Cang', cursive; text-align: center; padding-top: 1em; font-weight: bold; font-size: 3em; text-shadow: 2px 2px #00BEF0">
        <p>Recognized: {{ recog }}/15</p>
        <webcam channel="ch" style="position: absolute; margin: auto; left: 0; right: 0;"></webcam>
        <canvas id="overlay" style="position: absolute; margin: auto;left: 0; right: 0;"></canvas>
        <!--<video autoplay="true" id="videoElement" style="width: 500px; height: 375px; background-color: #666;"></video>-->
    </div>
</div>